html
  head
    title= "Real time web chat"
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/stylesheets/standard.css')
    
  body
    #contentArea(style='display:none;')
      #hide_scroll
        #content
      form#controls(onsubmit='return sendMessage()')    
        label#user(for='prompt')
        input#prompt(autocomplete='off') 
      #announcement
      #online
        |Online right now:<br />
    #loginArea
      form(onsubmit='authenticate()')
        input#login(placeholder='login')
        input#pass(placeholder='pass')
        input#authenticate(type='button', value='authenticate')
